<div>
    <form name="tweetForm" action="/tweets" method="post">
      <div class="form-group" style="text-align: center">
        <input type="hidden" name="login" value="{{principal.login}}"/>
        <textarea name="message" class="form-control" placeholder="Tweet" required maxlength="140"></textarea>
        <br>
        <button id="foo" class="btn btn-success">Tweet!</button>
      </div>
    </form>

  <div>
    <div class="card">
      {{#tweets}}
        <div class="card-body">
          <div>
            <span class="badge badge-primary" style="display: inline-block; min-width: 80px">@{{ login }}</span>
            &nbsp;
            <span>{{{ message }}}</span>
          </div>
        </div>
      {{/tweets}}
    </div>
  </div>
</div>
